@{
    ViewBag.Title = "Home Page";
}

@section styles{
<link rel="stylesheet" href="~/Content/kendo.common.min.css" />
<link rel="stylesheet" href="~/Content/kendo.default.min.css" />
<link rel="stylesheet" href="~/Content/kendo.default.mobile.min.css" />
}

@section scripts{
<script src="~/Scripts/kendo.all.min.js"></script>

    <script>
        $(document).ready(function () {
            //...Get categories from model - See Fleet Management as example
            var categories = [{
                "value": 1,
                "text": "Beverages"
            }, {
                "value": 2,
                "text": "Condiments"
            }, {
                "value": 3,
                "text": "Confections"
            }, {
                "value": 4,
                "text": "Dairy Products"
            }, {
                "value": 5,
                "text": "Grains/Cereals"
            }, {
                "value": 6,
                "text": "Meat/Poultry"
            }, {
                "value": 7,
                "text": "Produce"
            }, {
                "value": 8,
                "text": "Seafood"
            }];

            var crudServiceBaseUrl = "http://localhost:53773/Home/",
                       dataSource = new kendo.data.DataSource({
                           transport: {
                               read: {
                                   url: crudServiceBaseUrl + "/GetData",
                                   dataType: "jsonp"
                               },
                               update: {
                                   url: crudServiceBaseUrl + "/Update",
                                   dataType: "jsonp"
                               },
                               destroy: {
                                   url: crudServiceBaseUrl + "/Destroy",
                                   dataType: "jsonp"
                               },
                               create: {
                                   url: crudServiceBaseUrl + "/Create",
                                   dataType: "jsonp"
                               },
                               parameterMap: function (options, operation) {
                                   if (operation !== "read" && options.models) {
                                       return { models: kendo.stringify(options.models) };
                                   }
                               }
                           },
                           batch: true,
                           pageSize: 20,
                           schema: {
                               model: {
                                   id: "ID",
                                   fields: {
                                       ID: { editable: false, nullable: false, defaultValue: 0 },
                                       TextField: { validation: { required: true } },
                                       ForeignKeyField: { type: "number", validation: { min: 1, required: true } }
                                   }
                               }
                           }
                       });


            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 550,
                groupable: true,
                sortable: true,
                toolbar: ["create"],
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "ID",
                    title: "ID"
                }, {
                    field: "TextField",
                    title: "Text Field"
                }, {
                    field: "ForeignKeyField",
                    title: "Some Selection",
                    values: categories,
                    width: 150
                },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                ],
                editable: "inline"
            });
        });
    </script>    
}

<div id="grid"></div>